@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --color-neutral-900: #03012d;
  --color-neutral-800: #272541;
  --color-neutral-700: #312f4b;
  --color-neutral-600: #3d3b5e;
  --color-neutral-300: #aeaeb7;
  --color-neutral-200: #d5d4d9;
  --color-neutral-0: #ffffff;

  --color-orange-500: #ff7c0a;

  --color-blue-500: #4455da;
  --color-blue-700: #2d1c9c;
  --color-dark-blue: #03012d;
  --color-dark-gray: #272541;
  --color-light-blue: #c8e0ff;
  --color-light-gray: #e7f1ff;
  --color-background: #14203d;
}
